<%- include('./partial/header.ejs')%>
<%- include('./partial/navbar.ejs')%>

<div class="container" style = "text-align: center;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>WellCome To JWT Authentication Project</h1>
</div>

<%- include('./partial/footer.ejs')%>